[Desktop Entry]
Comment=Plasmoids Debugger
Encoding=UTF-8
Icon=services.svg
Keywords=
Name=Plasmoids Debugger
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-KDE-PluginInfo-Name=org.kde.plasma.debugger
